/*h1 {
    color : red;
    font-size: 48px;
}*/

/*h2 {
    color: blueviolet;
    font-size: 14px;
}*/

/*Caracteristicas de SASS*/

//4) Puedo trabajar con archivos parciales:
//Es una buena practica trabajar con archivos parciales y en el style.scss solo tener los imports
@import "fuentes","variables","header";

/*2) Puedo usar variables:
$titulos: blue;
$margen: 1rem;*/

//1) Ahora puedo anidar selectores:
/*header {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        //color:red;
        color : $titulos;
    }

    nav{
        background-color: aquamarine;

        li{
            display: inline-block;
            list-style: none;
            margin: $margen;

            a{
                color: black;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}*/

//3) Puedo realizar operaciones matematicas:

