/*****FLEXBOX: Se aplican en el contenedor padre*****/

.padreFlex{
    background-color: bisque;
    border: 3px solid black;
    width: 800px;
    height: 600px;
    border-radius: 4px;
    margin: auto;
    display: flex;

    /* flex-direction: me pemite definir la posicion de los elementos hijos, por default viene en filas (row)*/
    /*flex-direction: column;*/
   
    /*flex-wrap: permite decirle al sistema que los elementos sean multilinea*/
    flex-wrap: wrap;

    /*Flex-flow: es una forma abreviada de las ultimas dos propiedades*/
    /* flex-flow: column nowrap ; */

    /*Justify-content:  Si flex-direction es row ordeno en el eje horizontal*/
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: center; 
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /*Align Items: Si flex-direction es row, ordeno en el eje vertical*/
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: start; */

    /*Para darle reverse al numero de los items*/
    /* flex-direction: row-reverse */

    /* align-items: stretch; */

     /*Solo tiene efecto cuando el contenedor flexible tiene vbarias lineas de flex*/
    align-content: center;

}

.hijoFlex{
    background-color: chocolate;
    height: 150px;
    width: 150px;
    border: 1px dotted black;
    border-radius: 5px;
}

.hijoFlex{
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

}

/*Trabajamos con los items hijos*/

.primero{
    order: 2
}


.segundo{
    order: 3
}


.tercero{
    order: 1
}